<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test">
  <test name="OrangeHRM_Login">
  	<classes>
  		<class name="testClasses.LoginPageTest" />
 		<class name="testClasses.RecruitmentPageTest" />
 	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
